<h2>All Properties</h2>
<% @properties.each do |property| %>
    <%= render partial: 'display_form', locals: {property: property} %>

    <%= link_to 'This Property?', property_path(property)%>
    <br>
    <br>
<% end %>